.blurb{
    padding: 0.1em;
    margin: 0.1em;
    
}
.blurb-container {
    margin: 0.8em;
    padding: 0.5em;
    background-color: #FBF1EC;
}
.who-we-are {
    margin: 1em;
    padding: 0.8em;
    background-color: #FBF1EC;
   
}