.container {
  @include auto-margin();
  display: block;
  padding-left: 10px;
  padding-right: 10px;

  @media (min-width: $tablet-breakpoint) {
    width: $tablet-breakpoint;
  }

  @media (min-width: $desktop-breakpoint) {
    width: $desktop-breakpoint;
  }
}
