.header {
  background-color: $secondary;
  height: 50px;

  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.header__logo {
  img {
    height: 40px;
  }
}

.header__menu {
  font-size: 20px;
  padding-top: 10px;
  padding-right: 10px;
}