.icon__user, .icon__what-we-do, .icon__get-involved{
    color: $primary;
    font-size: 120px;
    margin: 1%;
    padding: 1%;


}
.icon-container {
    text-align: center;

}
.fa-bars {
    color: white;
}