* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none; }

img {
  max-width: 100%; }

body {
  font-family: 'Roboto', sans-serif; }

.button {
  background-color: #FFc12E;
  border: none;
  color: white;
  padding: 10px;
  min-width: 100px;
  font-size: 20px;
  border-radius: 3px;
  text-align: center; }
  .button:hover {
    background-color: #ffb915; }

.button--with-margin {
  margin-bottom: 30px; }

.infographics {
  margin-left: auto;
  margin-right: auto;
  width: 90%; }

.container {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-left: 10px;
  padding-right: 10px; }
  @media (min-width: 700px) {
    .container {
      width: 700px; } }
  @media (min-width: 1000px) {
    .container {
      width: 1000px; } }

.header {
  background-color: #a9288f;
  height: 50px; }

.header__container {
  display: flex;
  justify-content: space-between;
  padding: 5px; }

.header__logo img {
  height: 40px; }

.header__menu {
  font-size: 20px;
  padding-top: 10px;
  padding-right: 10px;
  cursor: pointer; }

.fa-bars {
  color: white; }

h1 {
  color: #a9288f;
  text-align: center;
  font-size: 1.9em;
  margin: 0.2em;
  margin-top: 0.3em; }

h2 {
  color: #a9288f;
  text-align: center;
  font-size: 1.8em;
  margin-top: 0.2em; }

.maori {
  color: #FFc12E;
  text-align: center;
  font-style: italic; }

.icon__user, .icon__what-we-do, .icon__get-involved {
  color: #a9288f;
  font-size: 110px;
  margin: 2%;
  padding: 1%; }

.icon-container {
  text-align: center; }

.hero-image {
  width: 100%; }

.article-image {
  width: 100%; }

.menu {
  display: none;
  position: fixed;
  height: 100vh;
  width: 75vw;
  background-color: rgba(169, 40, 143, 0.9);
  top: 0;
  right: 0;
  text-align: center; }
  .menu.is-open {
    display: block; }

.menu__close-bar {
  height: 50px; }
  .menu__close-bar i {
    float: right;
    color: white;
    font-size: 40px;
    padding-top: 5px;
    padding-right: 20px;
    cursor: pointer; }

.menu__list {
  margin-bottom: 20px; }

.menu__list-item {
  margin-bottom: 12px; }

.menu__link {
  font-size: 30px;
  color: white; }

.blurb {
  padding: 0.8em;
  background-color: #FBF1EC;
  margin-top: 0.6em;
  margin-bottom: 0.8em; }

.blurb__paragraph {
  margin-top: 1em;
  margin-bottom: 1em; }

.blurb__heading {
  margin-top: 1em;
  margin-bottom: 0.5em; }

.blurb__button {
  display: flex;
  justify-content: center; }

footer {
  background-color: #a9288f;
  height: 80px;
  text-align: center;
  padding-top: 20px; }

.footer__icon {
  color: white;
  font-size: 40px;
  margin-right: 10px; }

.form {
  margin-top: 20px;
  margin-bottom: 20px; }

.form__input {
  margin-bottom: 10px; }
  .form__input label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px; }
  .form__input input, .form__input textarea {
    font-size: 16px;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #FBF1EC; }
  .form__input .input--checkbox {
    width: auto;
    margin-bottom: 10px; }

.slider {
  width: 50%;
  margin: 100px auto; }

.slick-slide img {
  width: 100%; }

.slick-prev:before,
.slick-next:before {
  color: #a9288f; }

.slick-slide {
  margin: 0px 20px;
  transition: all ease-in-out .3s;
  opacity: .2;
  height: initial; }

.slick-active {
  opacity: .5; }

.slick-current {
  opacity: 1; }

.slick-next, .slick-prev {
  width: 40px;
  height: 40px; }

/*# sourceMappingURL=style.css.map */
